@model IEnumerable<Level_plus___Team_23.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2 style="color: #495057">Courses</h2>

<p class="mt-5">
    <a class="btn" style="background-color: #74b588; color:white"  asp-action="Create">Create New Course</a>
</p>
<table class="table mt-5">
    <thead style="background-color: #74b588; color: white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href=" @Html.DisplayFor(modelItem => item.VideoUrl)"> @Html.DisplayFor(modelItem => item.VideoUrl)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
            <td>
                <a style="background-color: #74b588; color: white;" asp-controller="Courses" asp-action="AddCourseToCart" asp-route-id="@item.Id" class="btn btn-info">Add to Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a class="btn btn-outline-primary btn-sm" asp-controller="Admin" asp-action="Test">Delete Student's Account</a>
